<app-navbar></app-navbar>

<div class="box-container">
  <div class="tool1">{{ "Home.Hypothesis_Testing" | translate }}</div>
  <div class="box" routerLink="/oneproportion">
    {{ "Home.One_Proportion_Hypothesis_Testing" | translate }}
  </div>
  <div class="box" routerLink="/twoproportions">
    {{ "Home.Two_Proportion_Hypothesis_Testing" | translate }}
  </div>
  <div class="box" routerLink="/onemean">
    {{ "Home.One_Mean_Hypothesis_Testing" | translate }}
  </div>
  <div class="box" routerLink="/twomeans">
    {{ "Home.Two_Mean_Hypothesis_Testing" | translate }}
  </div>

  <div class="tool2">{{ "Home.Visualization" | translate }}</div>
  <div class="box2" routerLink="/LR">
    {{ "Home.Linear_Regression_Visualization" | translate }}
  </div>
  <div class="box2" routerLink="/bivariant">
    {{ "Home.Bivariant_Visualization" | translate }}
  </div>
  <div class="box2" routerLink="/correlation">
    {{ "Home.Correlation_Visualization" | translate }}
  </div>

  <div class="tool3">{{ "Home.Confidence_Interval" | translate }}</div>
  <div class="box3" routerLink="/oneproportionCI">
    {{ "Home.One_Proportion_Confidence_Interval" | translate }}
  </div>
  <div class="box3" routerLink="/twoproportionsCI">
    {{ "Home.Two_Proportion_Confidence_Interval" | translate }}
  </div>
  <div class="box3" routerLink="/onemeanCI">
    {{ "Home.One_Mean_Confidence_Interval" | translate }}
  </div>
  <div class="box3" routerLink="/twomeansCI">
    {{ "Home.Two_Mean_Confidence_Interval" | translate }}
  </div>
</div>

<footer>
  {{ "Home.Copyright_©2023_CSUS._All_Rights_Reserved." | translate }}
</footer>
