<app-navbar></app-navbar>

<div class="box-container">
    <div class="column">
        <div class="tool1">Hypothesis Testing</div>
        <div class="box" routerLink="/oneproportion"> One Proportion Hypothesis Testing</div>
        <div class="box" routerLink="/twoproportions">Two Proportion Hypothesis Testing</div>
        <div class="box" routerLink="/onemean">One Mean Hypothesis Testing</div>
        <div class="box" routerLink="/twomeans">Two Mean Hypothesis Testing</div>
    </div>
        
    <div class="column">
        <div class="tool2">Visualization</div>
        <div class="box2" routerLink="/LR">Linear Regression Visualization</div>
        <div class="box2" routerLink="/bivariant">Bivariant Visualization</div>
        <div class="box2" routerLink="/correlation">Correlation Visualization</div>
    </div>

    <div class="column">
        <div class="tool3">Confidence Interval</div>
        <div class="box3" routerLink="/oneproportionCI">One Proportions Confidence Interval</div>
        <div class="box3" routerLink="/twoproportionsCI">Two Proportions Confidence Interval</div>
        <div class="box3" routerLink="/onemeanCI">One Mean Confidence Interval</div>
        <div class="box3" routerLink="/twomeansCI">Two Mean Confidence Interval</div>
    </div>
</div>

<footer>
    Copyright ©2024 CSUS. All Rights Reserved.
</footer>
