#one-mean {
  #title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  #button-div {
    display: flex;
    flex-direction: column;
    width: 179px;
  }

  .btn {
    color: #fff;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    cursor: pointer;
  }

  #data-div {
    display: flex;
    flex-direction: column;
    width: 179px;
    justify-content: center;
    margin-left: 10px;
  }

  .data-display {
    height: 130px;
    width: 175px;
    border: 1px solid #ccc;
    overflow-y: auto;
  }

  #form-container {
    display: flex;
  }

  #mean-display {
    margin: 0px;
  }
  
  #std-display {
    margin: 0px;
  }

  #size-display {
    margin: 0px;
  }

  #p-display {
    margin-top: 5px;
  }

  #chart-input-form {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 10px;
  }

  #display-container {
    display: flex;
    flex-direction: column;
  }

  #hypothetical-output {
    display: flex;
  }

  // #hypothetical-display {
  //   height: 130px;
  //   width: 175px;
  //   border: 1px solid #ccc;
  //   overflow-y: auto;
  //   padding: 5px;
  //   text-align: left;
  // }

  #chart-wrap {
    flex: 1;
  }

  #sample-container {
    display: flex;
  }

  // #sample-display {
  //   height: 150px;
  //   width: 175px;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   border: 1px solid #ccc;
  //   // white-space: pre-wrap;
  //   // border: 2px solid black;
  // }

  #p-display-3 {
    display: flex;
  }

  #sampling-container {
    display: flex;
  }

  .line-break {
    border: none;
    height: 3px;
    color: green;
    background-color: green;
  }

  #section-4-div {
    width: 150px;
  }

  #sample-mean-p {
    margin-bottom: 0px;
  }
 
  #run-sim-btn {
    color: #fff;
    background-color: #93cb52;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
}