<app-navbar></app-navbar>
<div id="bar-chart-tutorial">
    <h1 class="text-center">Bar Chart</h1>
    <div class="chart-area">
        <div id="control" class="container">
            <h3>1. Input data</h3>
            <form>
                <div class="form-group">
                    <select id="sample-data-options" (change)="sampleSelect($event)">
                        <option disabled selected>Select sample data</option>
                        <option value="sample1">Sample 1</option>
                        <option value="sample2">Sample 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="csvInput" rows="8" id="csv-input" placeholder="Please enter data or drop colum titles from CSV file here" [(ngModel)]="csvTextArea"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn" id="load-data-btn" (click)="loadDataButton()">Load data</button>
                </div>
                <div class="form-group">
                    <button class="btn" id="reset-btn" (click)="totalReset()">Reset</button>
                </div>
                <div class="form-group">
                    <button class="btn" id="upload-btn" (click)="triggerFileInput()">Upload data file</button>
                </div>
                <input type="file" id="fileInput" #fileInput style="display: none;">
                <div class="form-group">
                    <p class="text-display" id="input-data-size-text">Size <i>N</i> : {{ inputDataSizeNum }}</p>
                    <span class="text-error" #input_data_size_number *ngIf="inputErrorMsg">{{ inputErrorMsg }}</span>
                </div>
            </form>
        </div>

        <div id="view">
            <canvas #inputChart class="container"></canvas>
        </div>
        <div id="result">
            <h4 #input_data_table></h4>
            <table class="tableData" #input_data_display></table>
        </div>
    </div>

    <div class="green-line"></div>

    <div class="chart-area">
        <div id="control" class="container">
            <h3>2. Draw Samples</h3>
            <form>
                <div class="form-group">
                    <label for="sampleInput">Sample Size:</label>
                    <input name="sampleInput" type="number" id="sampleInput" min="1" [(ngModel)]="sampleSizeInput" max="10000">
                </div>
                <div class="form-group">
                    <button class="btn" id="get-sample-btn" (click)="updateSampleData()" [disabled]="isInputDataSizeNumNaN()">Rum Simulations</button>
                </div>
                <p class="text-display" id="=sample-data-size-text">Size <i>n</i> : {{ sampleDataSizeNum }}</p>
                <p class="text-error" id="get-sample-error-msg" *ngIf="sampleErrorMsg">{{ sampleErrorMsg }}</p>
            </form>
        </div>
        
        <div id="view">
            <canvas #sampleChart class="container"></canvas>
        </div>
        <div id="result">
            <h4 #sample_data_table></h4>
            <table #sample_data_display></table>
        </div>
    </div>
</div>
<app-footer></app-footer>