<!-- <p>two-proportions-ci works! updated</p> -->
<app-navbar></app-navbar>
<div id="main-content">
  <div id="two-proportions">
    <h1>{{ "2pci.Two_Proportions_Confidence_Interval" | translate }}</h1>
    <h2>{{ "2pci.1._Enter_Data:" | translate }}</h2>
    <input type="checkbox" style="float: right" checked />
    <div id="input-section" class="section">
      <div class="lhs">
        <table>
          <thead>
            <tr>
              <td></td>
              <td class="desc">{{ "2pci.Group_A" | translate }}</td>
              <td class="desc">{{ "2pci.Group_B" | translate }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="desc">{{ "2pci.Successes" | translate }}</td>
              <td>
                <input
                  type="number"
                  id="a-success"
                  [(ngModel)]="numASuccess"
                  min="0"
                  step="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="b-success"
                  [(ngModel)]="numBSuccess"
                  min="0"
                  step="1"
                />
              </td>
            </tr>
            <tr>
              <td class="desc">{{ "2pci.Failures" | translate }}</td>
              <td>
                <input
                  type="number"
                  id="a-failure"
                  [(ngModel)]="numAFailure"
                  min="0"
                  step="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="b-failure"
                  [(ngModel)]="numBFailure"
                  min="0"
                  step="1"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <button class="btn" (click)="loadData()">
          {{ "2pci.Load_Data" | translate }}
        </button>
        <!-- Rest of your content remains unchanged -->
      </div>
      <!-- Right Hand Side (RHS) content -->
      <!-- ... -->
    </div>
    <!-- Additional sections go here -->

    <!-- Run Simulations Section -->
    <h2>{{ "2pci.2._Run_Simulations" | translate }}</h2>
    <input type="checkbox" style="float: right" checked />
    <div class="section">
      <div class="lhs">
        <label
          >{{ "2pci.Number_of_Simulations:" | translate }}
          <input
            id="num-simulations"
            type="number"
            min="1"
            [(ngModel)]="numSimulations"
            max="1000"
          />
        </label>
        <button
          class="btn"
          [disabled]="!isDataLoaded"
          (click)="runSimulations()"
        >
          {{ "2pci.Run_Simulations" | translate }}
        </button>
        <div class="stats">
          <div>
            <span>{{
              "2pci.Proportion_of_Randomized_to_Group_A_(pA):" | translate
            }}</span>
            <span>{{ sampleProportionA }}</span>
          </div>
          <div>
            <span>{{
              "2pci.Proportion_of_Randomized_to_Group_B_(pB):" | translate
            }}</span>
            <span>{{ sampleProportionB }}</span>
          </div>
          <div>
            <span>{{
              "2pci.Difference_of_Proportions_(pA_-_pB):" | translate
            }}</span>
            <span>{{ sampleProportionDiff }}</span>
          </div>
        </div>
      </div>
      <div class="rhs">
        <h3 style="margin-left: 3em">
          {{ "2pci.Most_Recent_Draw" | translate }}
        </h3>
        <table style="margin-left: 3em">
          <tr>
            <td style="text-align: right">
              <span>{{ sampleAFailure }}</span>
              {{ "2pci.Failures" | translate }}
            </td>
            <td rowspan="2" colspan="2">
              <div class="chart-wrap"><canvas id="last-sim-bars"></canvas></div>
            </td>
            <td>
              <span>{{ sampleBFailure }}</span>
              {{ "2pci.Failures" | translate }}
            </td>
          </tr>
          <tr>
            <td style="text-align: right">
              <span>{{ sampleASuccess }}</span>
              {{ "2pci.Successes" | translate }}
            </td>
            <td>
              <span>{{ sampleBSuccess }}</span>
              {{ "2pci.Successes" | translate }}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Sampling Distribution of Difference of Proportions Section -->
    <h2>
      {{
        "2pci.3._Sampling_Distribution_of_Difference_of_Proportions" | translate
      }}
    </h2>
    <input type="checkbox" style="float: right" checked />
    <div class="section flex-row">
      <div class="lhs">
        <div>
          <label for="confidence-level"
            >{{ "2pci.Confidence_Level" | translate }}
            <span>{{ confidenceLevel }}</span
            >%</label
          >
        </div>
        <input
          type="range"
          min="1"
          max="100"
          style="width: 50%"
          step="1"
          id="confidence-level"
          [(ngModel)]="confidenceLevel"
        />
        <button
          type="button"
          class="btn"
          style="width: 50%"
          (click)="buildConfidenceInterval()"
          id="buildci"
        >
          {{ "2pci.Build" | translate }}
        </button>

        <div class="stats">
          <div>
            <span>{{ "2pci.Original_Dataset_Difference:" | translate }}</span>
            <span>{{ proportionDiff }}</span>
          </div>
          <div>
            <span>{{ "2pci.Mean_of_Sample_Differences:" | translate }}</span>
            <span>{{ meanSampleDiffs }}</span>
          </div>
          <div>
            <span>{{ "2pci.Standard_Deviation:" | translate }}</span>
            <span>{{ stddevSampleDiffs }}</span>
          </div>
          <div>
            <span>{{ "2pci.Lower_Bound:" | translate }}</span>
            <span>{{ lowerBound }}</span>
          </div>
          <div>
            <span>{{ "2pci.Upper_Bound:" | translate }}</span>
            <span>{{ upperBound }}</span>
          </div>
          <div>
            <span>{{ "2pci.Total_Number_of_Samples:" | translate }}</span>
            <span>{{ totalSamples }}</span>
          </div>
        </div>
      </div>
      <div class="rhs">
        <canvas id="ci-chart" style="height: 300px"></canvas>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
