<div class ="header">
    <div class="title">
        <h3 class="pt-3 font-weight-bold">SAVIS</h3>
    </div>
</div>

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-12 col-lg-15 col-md-4 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')"class ="text-danger">First Name is required</small>
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstName"type ="text"placeholder="First Name">
                                </div>                                
                            </div>
                            <div class="form-group pt-3">
                                <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" class ="text-danger">Last Name is required</small>
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastName"type ="text"placeholder="Last Name">
                                </div>                                
                            </div>

                            <div class="form-group pt-3">
                                <small *ngIf="(signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')) || (signUpForm.controls['email'].dirty && signUpForm.get('email')?.hasError('valid'))"class ="text-danger">Email is required & must be a valid email</small>
                                <div class="input-field" [class.error]="(signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')) || (signUpForm.controls['email'].dirty && signUpForm.get('email')?.hasError('valid'))">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email"type ="email"placeholder="Email Address">
                                </div>                                
                            </div>

                            <div class ="form-group pt-3">
                                <small *ngIf="(signUpForm?.get('password')?.hasError('strong') && signUpForm.controls['password'].dirty) || (signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password'))" class="text-danger"> Password is required, must be at least 8 characters, have one number, and one lower & uppercase letter.</small>
                                <div class="input-field" [class.error]="(signUpForm.get('password')?.hasError('strong') && signUpForm.controls['password'].dirty) || (signUpForm.hasError('required', 'password') && signUpForm.controls['password'].dirty)">
                                    <span class="fa fa-lock p-2"></span>
                                    <input id="password" formControlName="password"type="password"placeholder="Password" (input)="preventSpaces($event)">
                                    <span class="fa fa-eye-slash"></span>
                                </div>
                            </div>

                            <div class ="form-group pt-3">
                                <small *ngIf="signUpForm.errors?.matchPassword && signUpForm.get('confirmPassword')?.touched" class="text-danger"> Password does not match</small>
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input id="confirmPassword" formControlName="confirmPassword" type="password"placeholder="Re-enter Password" (input)="preventSpaces($event)">
                                    <span class="fa fa-eye-slash"></span>
                                </div>
                            </div>
                         
                            <div class="signUpButton">
                                <button (click)="onSignUp()" type="submit" class="button" >Sign Up</button>
                                <small *ngIf="errorMessage" class="signUpErrorMessage">{{errorMessage}}</small>
                            </div>
                            <div class="loginButton">Already Have an account <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class ="footer">
    <div class="copyright">
        <p>Copyright ©2019 CSUS. All Rights Reserved.</p>
    </div>
</div>