<div class ="header">
    <h3 class="title pt-3 font-weight-bold" routerLink="/login">SAVIS</h3>
</div>

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="panel border bg-white">
                <app-language-switcher class="language"></app-language-switcher>
                <h3 class="panel-heading pt-3">Forgot Password</h3>

                <form [formGroup]="forgotPasswordForm">
                    <div class="panel-body p-3">
                        <div class="form-group pt-3">
                            <small *ngIf="(forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email')) || (forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.get('email')?.hasError('valid'))" class="text-danger">Enter a valid email address</small>
                            <div class="input-field" [class.error]="(forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email')) || (forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.get('email')?.hasError('valid'))">
                                <input formControlName="email" type="email" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="submitButton">
                    <button (click)="onSubmit()" type="submit" class="button">Submit</button>
                    <div>
                        <small *ngIf="errorMessage" class="submitErrorMessage">{{ errorMessage }}</small>
                        <small *ngIf="successMessage" class="submitSuccessMessage">{{ successMessage }}</small>
                    </div>
                    <div class="loginButton text-gray-500">Back to <a id="forget" routerLink="/login">Login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class ="footer inset-x-0 bottom-0">
    <div class="copyright">
        <p class="py-4">{{ 'nav_copyright' | translate }}</p>
    </div>
</div>
