<body>
    <div id="one-mean">
    <h1 id="title">One Mean Confidence Intervalng</h1>
    <div id="form-container">
      <form #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm)" name="dataForm">
        <h3 id="subtitle">1. Enter Data</h3>
        <div>
          <textarea rows = 8 placeholder="Please enter data in column format" [ngModel]="dataInput" name="dataFormInput"></textarea>
        </div>
        <div id="button-div">
          <button type="submit" class="btn">Load Data</button>
          <button type="button" class="btn" (click)="onReset(dataForm)">Reset</button>
          <input type="file" name="dataForm-file">
        </div>
      </form>
      <div id="data-div">
        <div class="data-display">
          <table id="original-data-display">
            <thead *ngIf="valuesArray.length > 0">
              <tr>
                <th>ID</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let value of valuesArray; let i = index">
              <td>{{i+1}}</td>
              <td>{{value}}</td>
            </tr>
          </tbody>
          </table>
        </div>
          <div id="p-display">
            <p id="mean-display">Mean: {{inputMean}}</p>
            <p id="std-display">Standard Deviation: {{standardDeviation}}</p>
            <p id="size-display">Size: {{inputSize}}</p>
          </div>
        </div>
      
  
      <div id="chart-wrap">
        <canvas baseChart
          [datasets]="lineChartData1"
          [labels]="lineChartLabels1"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          height="300"
        ></canvas>
      </div>
    </div>
  
    <hr class="line-break">
  
    <div>
      <h3 id="subtitle">2. Generate Hypothetical Population</h3>
      <div id="hypothetical-output">
        <div id="chart-input-form">
          <label>Shift Mean</label>
          <input type="number" step="0.1" value="0" [(ngModel)]="meanValue" (change)="increaseData()">
          <label>Increase data <span>{{rangeValue}}</span> times</label>
          <input type="range" min="1" max="50" step="1" value="1" [(ngModel)]="rangeValue" (change)="increaseRange()">
        </div>
        <div id="display-container">
        <div class="data-display">
          <table id="hypothetical-data-table">
            <thead *ngIf="hypoValuesArray.length > 0">
              <tr>
                <th>ID</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let value of hypoValuesArray; let i = index">
              <td>{{i+1}}</td>
              <td>{{value}}</td>
            </tr>
          </tbody>
          </table>
        </div>
        <div id="p-display">
          <p id="mean-display">Mean: {{hypoInputMean}}</p>
          <p id="std-display">Standard Deviation: {{standardDeviation}}</p>
        </div>
      </div>
        <div id="chart-wrap">
          <canvas baseChart
            [datasets]="lineChartData2"
            [labels]="lineChartLabels2"
            [options]="lineChartOptions2"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            height="300"
          ></canvas>
        </div>
      </div>
    </div>
    
    <hr class="line-break">
    
    <h3 id="subtitle">3. Draw Sample</h3>
    <div id="sample-container">
      <div id="chart-input-form">
        
          <label>Sample Size:</label>
          <input type="number" step="1" value="1" [(ngModel)]="sampleSize">
          <label># of samples</label>
          <input type="number" step="1" value="1" min="1" [(ngModel)]="numSamples">
          <button type="button" (click)="runSimulation()">Run Simulation</button>
        
      </div>
  
      <div>
      <div class="data-display">
        <table id="sample-table">
          <thead *ngIf="sample.length > 0">
            <tr>
              <th>ID</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let value of sample; let i = index">
            <td> {{i+1}} </td>
            <td>{{value}}</td>
          </tr>
        </tbody>
        </table>
    </div>
      <p>Mean: {{this.sampleMean}}</p>
    </div>
  
    
  
    <div id="chart-wrap">
      <canvas baseChart
        [datasets]="lineChartData3"
        [labels]="lineChartLabels3"
        [options]="lineChartOptions2"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        height="300"
      ></canvas>
    </div>
    </div>
  
    
    <hr class="line-break">
    <h3>4. Sampling Distribution of Means</h3>
    <div id="sampling-container">
    <div id="section-4-div">
        <div class="data-form">
            <label for="confidence-level"> Confidence Level
       <span id="confidence-level-display">95</span
                >%</label>
            <input type="range" min="1" max="100" step="1" id="confidence-level" value="95"/>
            <button type = "button" id = "buildci" class = "btn"> Build
       </button>
            <br>
            <p>Total # samples:
      <span id="total-samples">{{this.meanSamples}}</span></p>
            <p>Lower Bound:
      <span id="lower"></span></p>
            <p>Upper Bound:
       <span id="upper"></span></p>
      
      
           <!-- <label for="tailValue"> Sample means at least as extreme as
      </label>
            <input type="number" id="tailValue"/>
            <p>= <span id="total-selected-samples">0</span> samples
      </p>
            <p>Proportion:
      <br><span id="proportion"></span></p> -->
            </div>
    </div>
    <div>
    <div class="data-display">
      <table id="sample-table">
        <thead *ngIf="sampleMeans.length > 0">
          <tr>
            <th>#</th>
            <th>Mean</th>
          </tr>
        </thead>
        <tbody *ngFor="let mean of sampleMeans; let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>{{mean}}</td>
        </tr>
      </tbody>
      </table>
  </div>
  <p>Mean of sample means: {{this.sampleMeansMean}}</p>
  <p>Standard Devation: {{this.sampleMeansStd}}</p>
  </div>
  
  <div id="chart-wrap">
    <canvas baseChart
      [datasets]="lineChartData4"
      [labels]="lineChartLabels4"
      [options]="lineChartOptions2"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      height="300"
    ></canvas>
  </div>
  </div>
  
  <hr class="line-break">
  </div>
  </body>