<app-navbar></app-navbar>
<div class="p-4">
  <h1 class="text-xl font-bold text-center my-5">{{ 'Tmci_Heading_Confidence_Interval' | translate }}</h1>
  
  <div class="flex justify-between">
    <h2 class="text-xl font-bold">{{ 'Tmci_Heading_Enter_Data' | translate }}</h2>
    <input type="checkbox" (change)="toggleSection($event,'sectionOne')" checked>
  </div>
  <div class="flex gap-3"  [ngClass]="sections.sectionOne ? '' : 'hidden'">
    <div class="w-3/12">
      <div class="w-full">
        <div class="border border-gray-300 rounded-md">
          <select (change)="sampleSelect($event)"
            class="w-full border-t-0 border-l-0 border-r-0 border-b focus:outline-none rounded-lg p-1">
            <option disabled selected>{{ 'Tmci_Select_Sample_Data_Option' | translate }}</option>
            <option value="sample1">{{ 'Tmci_Sample_Data_Option_1' | translate }}</option>
            <option value="sample2">{{ 'Tmci_Sample_Data_Option_2' | translate }}</option>
          </select>
          <textarea 
          (drop)="onDrop($event)" [(ngModel)]="csvraw" class="text-sm w-full p-1.5 placeholder:text-xs focus:outline-none" rows="5"
          placeholder="{{ 'Tmci_Textarea_Placeholder_Enter_Csv' | translate }}"></textarea>
        </div>
        <button (click)="loadData()"
        class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'Tmci_Button_Load_Data' | translate }}
        </button>
        <button (click)="onResetChart()"
         class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'Tmci_Button_Reset' | translate }}
        </button>
          <label
          class="mt-1 block text-center border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full"
          for="fileInput">{{ 'Tmci_Label_Upload_Data_File' | translate }} </label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
      </div>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Size_N_Group_1' | translate }}</span>
          <span>{{dataSize1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Mean_Group_1' | translate }} </span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Standard_Deviation_Group_1' | translate }} </span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Size_N_Group_2' | translate }}</span>
          <span> {{dataSize2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Mean_Group_2' | translate }}</span>
          <span>{{datamean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Standard_Deviation_Group_2' | translate }} </span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Difference_Of_Means' | translate }}</span>
          <span>{{mean_diff}}</span>
        </div>
      </div>
    </div>
    <div class="w-9/12">
      <div style="display: block">
        <div class="chart-wrap"><canvas id="data-chart-1" height="220"></canvas></div>
        <p>
          {{ 'opc_increase' | translate }}
          <input type = "number" step = "1" min = "10" id = "increment1" [(ngModel)]="increment"/>
          <button class = "incrementButton">
              <button class="custom-button">+</button>
          </button>
      </p>

      </div>
      <div style="display: block">
        <div class="chart-wrap"><canvas id="data-chart-2" height="220"></canvas></div>
        <p>
          {{ 'opc_increase' | translate }}
          <input type = "number" step = "1" min = "10" id = "increment2" [(ngModel)]="increment"/>
          <button class = "incrementButton">
              <button class="custom-button">+</button>
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
    <h2 class="text-xl font-bold">{{ 'Tmci_Heading_Run_Simulations' | translate }}</h2>
    <input type="checkbox" checked (change)="toggleSection($event,'sectionTwo')">
  </div>
  <div class="flex gap-3" [ngClass]="sections.sectionTwo ? '' : 'hidden'">
    <div class="w-3/12">
      <h3 class="font-bold">{{ 'Tmci_Subheading_Number_Of_Simulations' | translate }}</h3>
      <input [(ngModel)]="numofSem" [disabled]="!activateSim"
        class="w-full border border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg ng-untouched ng-pristine ng-valid"
        type="number" value="1" min="1" max="100" />
        <button (click)="runSim()" *ngIf="activateSim"
        class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'Tmci_Button_Run_Simulation' | translate }}
      </button>
      <button [disabled]="true" *ngIf="!activateSim"
        class="mt-1 border bg-gray-400 text-gray-700 px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'Tmci_Button_Run_Simulation' | translate }}
      </button>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Mean_Of_Randomized_Sample_To_Group_1' | translate }} </span>
          <span summary="sampleMean1">{{simsummary.sampleMean1}} </span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Standard_Deviation_Of_Randomized_Sample_To_Group_1' | translate }} </span>
          <span summary="sampleMean1">{{simsummary.sampleMean1}} </span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Mean_Of_Randomized_Sample_To_Group_2' | translate }}</span>
          <span summary="sampleMean2">{{simsummary.sampleMean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Standard_Deviation_Of_Randomized_Sample_To_Group_2' | translate }} </span>
          <span summary="sampleMean1">{{simsummary.sampleMean1}} </span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'Tmci_Label_Difference_Of_Means_Randomized_Samples' | translate }}</span>
          <span summary="sampleMeanDiff">{{simsummary.sampleMeanDiff}}</span>
        </div>
      </div>
    </div>
    <div class="rhs w-9/12">
      <h3>{{ 'Tmci_Label_Most_Recent_Draw' | translate }}</h3>
      <div class="chart-wrap"><canvas id="data-chart-3" height="200"></canvas></div>
      <div class="chart-wrap"><canvas id="data-chart-4" height="200"></canvas></div>
    </div>
  </div>
  <div class="flex justify-between">

    <h2 class="text-xl font-bold">{{ 'tm_sampling_distribution' | translate }}
    </h2>
    <input type="checkbox" checked (change)="toggleSection($event,'sectionThree')">
  </div>
  <div class="flex gap-3" [ngClass]="sections.sectionThree ? '' : 'hidden'">
    <div class="w-3/12">
      <select [disabled]="!samDisActive" (change)="selectedTest($event)" class="if-disabled w-full border border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg">
        <option value="null" disabled selected>Type of Test
        </option>
        <option value="oneTailRight">One Tail Right
        </option>
        <option value="oneTailLeft">One Tail Left
        </option>
        <option value="TwoTail">Two Tails
        </option>

      </select>
      <span>Select differences at least as extreme as</span>
      <input [disabled]="!samDisActive" type="number"  id="tail-input" value="0" [(ngModel)]="mean_diff" step="any"
        class="w-full border if-disabled border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg">
      <hr>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>Original Dataset Difference of Means:</span>
          <span summary="dataMeanDiff">{{mean_diff}}</span>
        </div>
        <div class="flex justify-between">
          <span>Mean of Sample Differences:</span>
          <span summary="mean">{{simsummary.sampleMeanDiff}}</span>
        </div>
        <div class="flex justify-between">
          <span>Standard Deviation:</span>
          <span summary="stddev">{{lastSummary?.stddev}}</span>
        </div>
        <div class="flex justify-between">
          <span>Total # samples: </span>
          <span summary="total" summaryint>{{lastSummary?.total}}</span>
        </div>
        <div class="flex justify-between">
          <span># of Extreme Differences: </span>
          <span summary="chosen" summaryint>{{lastSummary?.chosen }}</span>
        </div>
        <div class="flex justify-between">
          <span>Proportion of Extreme Differences</span>
          <span summary="proportion">{{lastSummary?.proportion }}</span>
        </div>
      </div>
    </div>
    <div class="rhs w-9/12">
      <canvas id="diff-chart"></canvas>
    </div>
  </div>
</div>
<app-footer></app-footer>