<app-navbar></app-navbar>
<div class="p-4">
  <h1 class="text-xl font-bold text-center my-5">Two Means Hypothesis Testing
  </h1>
  <div class="flex justify-between">
    <h2 class="text-xl font-bold">1. Enter Data
    </h2>
    <input type="checkbox" (change)="toggleSection($event,'sectionOne')" checked>
  </div>
  <div class="flex gap-3"  [ngClass]="sections.sectionOne ? '' : 'hidden'">
    <div class="w-3/12">
      <div class="w-full">
        <div class="border border-gray-300 rounded-md">
          <select (change)="sampleSelect($event)"
            class="w-full border-t-0 border-l-0 border-r-0 border-b focus:outline-none rounded-lg p-1">
            <option disabled selected>Select Sample Data</option>
            <option value="sample1">Sample 1</option>
            <option value="sample2">Sample 2</option>
          </select>
          <textarea 
          (drop)="onDrop($event)"  [(ngModel)]="csvraw" class="text-sm w-full p-1.5 placeholder:text-xs focus:outline-none  " rows="5"
            placeholder="Enter or Drop CSV with first column as group number (1 or 2) and second column as variable. No colunm names (see sample data in drop down menu)"></textarea>
        </div>
        <button (click)="loadData()"
          class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">Load
          Data</button>
        <button (click)="onResetChart()"
          class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">Reset</button>
        <label
          class="mt-1 block text-center border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full"
          for="fileInput"> Upload Data File </label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
      </div>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>Size n (Group 1):</span>
          <span>{{dataSize1}}</span>
        </div>
        <div class="flex justify-between">
          <span>Mean 1 (Group 1): </span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>Standard Deviation (Group 1): </span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>Size n (Group 2):</span>
          <span> {{dataSize2}}</span>
        </div>
        <div class="flex justify-between">
          <span>Mean 2 (Group 2):</span>
          <span>{{datamean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>Standard Deviation (Group 2): </span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>Difference of Means (Mean 1 - Mean 2):</span>
          <span>{{mean_diff}}</span>
        </div>
      </div>
    </div>
    <div class="w-9/12">
      <div style="display: block">
        <div class="chart-wrap"><canvas id="data-chart-1" height="220"></canvas></div>
        <p>
          {{ 'opc_increase' | translate }}
          <input type = "number" step = "1" min = "10" id = "increment" [(ngModel)]="increment"/>
          <button class = "incrementButton">
              <button class="custom-button">+</button>
          </button>
      </p>

      </div>
      <div style="display: block">
        <div class="chart-wrap"><canvas id="data-chart-2" height="220"></canvas></div>
        <p>
          {{ 'opc_increase' | translate }}
          <input type = "number" step = "1" min = "10" id = "increment" [(ngModel)]="increment"/>
          <button class = "incrementButton">
              <button class="custom-button">+</button>
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
    <h2 class="text-xl font-bold">2. Run Simulations</h2>
    <input type="checkbox" checked (change)="toggleSection($event,'sectionTwo')">
  </div>
  <div class="flex gap-3" [ngClass]="sections.sectionTwo ? '' : 'hidden'">
    <div class="w-3/12">
      <h3 class="font-bold"># of Simulations
      </h3>
      <input [(ngModel)]="numofSem" [disabled]="!activateSim"
        class="w-full border border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg ng-untouched ng-pristine ng-valid"
        type="number" value="1" min="1" max="100" />
      <button (click)="runSim()" *ngIf="activateSim"
        class="mt-1 border bg-primary disabled: text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">Run
        Simulation
      </button>
      <button [disabled]="true" *ngIf="!activateSim"
        class="mt-1 border bg-gray-400  text-gray-700 px-7 py-1.5 text-sm font-medium rounded-lg w-full">Run
        Simulation
      </button>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>Mean of Randomized Sample to Group 1: </span>
          <span summary="sampleMean1">{{simsummary.sampleMean1}} </span>
        </div>
        <div class="flex justify-between">
          <span>Mean of Randomized Sample to Group 2:</span>
          <span summary="sampleMean2">{{simsummary.sampleMean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>Difference of Means (Randomized Samples):</span>
          <span summary="sampleMeanDiff">{{simsummary.sampleMeanDiff}}</span>
        </div>
      </div>
    </div>
    <div class="rhs w-9/12">
      <h3>Most Recent Draw
      </h3>
      <div class="chart-wrap"><canvas id="data-chart-3" height="200"></canvas></div>
      <div class="chart-wrap"><canvas id="data-chart-4" height="200"></canvas></div>
    </div>
  </div>
  <div class="flex justify-between">

    <h2 class="text-xl font-bold">3. Sampling Distribution of Difference of Means
    </h2>
    <input type="checkbox" checked (change)="toggleSection($event,'sectionThree')">
  </div>
  <div class="flex gap-3" [ngClass]="sections.sectionThree ? '' : 'hidden'">
    <div class="w-3/12">
      <select [disabled]="!samDisActive" (change)="selectedTest($event)" class="if-disabled w-full border border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg">
        <option value="null" disabled selected>Type of Test
        </option>
        <option value="oneTailRight">One Tail Right
        </option>
        <option value="oneTailLeft">One Tail Left
        </option>
        <option value="TwoTail">Two Tails
        </option>

      </select>
      <span>Select differences at least as extreme as</span>
      <input [disabled]="!samDisActive" type="number"  id="tail-input" value="0" [(ngModel)]="mean_diff" step="any"
        class="w-full border if-disabled border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg">
      <hr>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>Original Dataset Difference of Means:</span>
          <span summary="dataMeanDiff">{{mean_diff}}</span>
        </div>
        <div class="flex justify-between">
          <span>Mean of Sample Differences:</span>
          <span summary="mean">{{simsummary.sampleMeanDiff}}</span>
        </div>
        <div class="flex justify-between">
          <span>Standard Deviation:</span>
          <span summary="stddev">{{lastSummary?.stddev}}</span>
        </div>
        <div class="flex justify-between">
          <span>Total # samples: </span>
          <span summary="total" summaryint>{{lastSummary?.total}}</span>
        </div>
        <div class="flex justify-between">
          <span># of Extreme Differences: </span>
          <span summary="chosen" summaryint>{{lastSummary?.chosen }}</span>
        </div>
        <div class="flex justify-between">
          <span>Proportion of Extreme Differences</span>
          <span summary="proportion">{{lastSummary?.proportion }}</span>
        </div>
      </div>
    </div>
    <div class="rhs w-9/12">
      <canvas id="diff-chart"></canvas>
    </div>
  </div>
</div>
<app-footer></app-footer>