<app-navbar></app-navbar>
<div class="p-4">
  <h1 class="text-xl font-bold text-center my-5">{{ 'title_two_means_confidence_interval' | translate }}</h1>

  <div class="flex justify-between">
    <h2 class="text-xl font-bold">{{ 'heading_enter_data' | translate }}</h2>
    <input type="checkbox" (change)="toggleSection($event,'sectionOne')" checked>
  </div>

  <div class="flex gap-3" [ngClass]="sections.sectionOne ? '' : 'hidden'">
    <div class="w-3/12">
      <div>
        <div class="border border-gray-300 rounded-md">
          <select (change)="sampleSelect($event)"
            class="w-full border-t-0 border-l-0 border-r-0 border-b focus:outline-none rounded-lg p-1">
            <option disabled selected>{{ 'select_sample_data_option' | translate }}</option>
            <option value="sample1">{{ 'sample_data_option_1' | translate }}</option>
            <option value="sample2">{{ 'sample_data_option_2' | translate }}</option>
          </select>
          <textarea 
          (drop)="onDrop($event)"  [(ngModel)]="csvraw" class="text-sm w-full p-1.5 placeholder:text-xs focus:outline-none" rows="5"
            placeholder="{{ 'textarea_placeholder_enter_csv' | translate }}"></textarea>
        </div>
        <button (click)="loadData()"
          class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'button_load_data' | translate }}</button>
        <button (click)="onResetChart()"
          class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'button_reset' | translate }}</button>
        <label
          class="mt-1 block text-center border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full"
          for="fileInput">{{ 'label_upload_data_file' | translate }} </label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
      </div>
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>{{ 'label_size_n_group_1' | translate }}</span>
          <span>{{dataSize1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_mean_group_1' | translate }}</span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_standard_deviation_group_1' | translate }}</span>
          <span>{{datamean1}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_size_n_group_2' | translate }}</span>
          <span> {{dataSize2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_mean_group_2' | translate }}</span>
          <span>{{datamean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_standard_deviation_group_2' | translate }}</span>
          <span>{{datamean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_difference_of_means' | translate }}</span>
          <span>{{mean_diff}}</span>
        </div>
      </div>
    </div>
    <div class="w-9/12">
      <div style="display: block">
        <div class="chart-wrap"><canvas id="data-chart-1" height="220"></canvas></div>
        <p>
          {{ 'label_increase_by_group_1' | translate }}
          <input type="number" step="1" min="10" id="increment1" [(ngModel)]="increment"/>
          <button class="incrementButton">+</button>
        </p>
      </div>
      <div style="display: block">
        <div class="chart-wrap"><canvas id="data-chart-2" height="220"></canvas></div>
        <p>
          {{ 'label_increase_by_group_2' | translate }}
          <input type="number" step="1" min="10" id="increment2" [(ngModel)]="increment"/>
          <button class="incrementButton">+</button>
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
    <h2 class="text-xl font-bold">{{ 'heading_run_simulations' | translate }}</h2>
    <input type="checkbox" checked (change)="toggleSection($event,'sectionTwo')">
  </div>
  
  <div class="flex gap-3" [ngClass]="sections.sectionTwo ? '' : 'hidden'">
    <div class="w-3/12">
      <h3 class="font-bold">{{ 'subheading_number_of_simulations' | translate }}</h3>
      <input [(ngModel)]="numofSem" [disabled]="!activateSim" class="w-full border border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg" type="number" value="1" min="1" max="100" />
      
      <button (click)="runSim()" *ngIf="activateSim" class="mt-1 border bg-primary text-white px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'button_run_simulation' | translate }}</button>
      
      <button [disabled]="true" *ngIf="!activateSim" class="mt-1 border bg-gray-400 text-gray-700 px-7 py-1.5 text-sm font-medium rounded-lg w-full">{{ 'button_run_simulation' | translate }}</button>
      
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>{{ 'label_mean_of_randomized_sample_group_1' | translate }}</span>
          <span summary="sampleMean1">{{simsummary.sampleMean1}} </span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_mean_of_randomized_sample_group_2' | translate }}</span>
          <span summary="sampleMean2">{{simsummary.sampleMean2}}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_difference_of_means_randomized_samples' | translate }}</span>
          <span summary="sampleMeanDiff">{{simsummary.sampleMeanDiff}}</span>
        </div>
      </div>
    </div>
    <div class="rhs w-9/12">
      <h3>{{'tm_most_recent' | translate}}
      </h3>
      <div class="chart-wrap"><canvas id="data-chart-3" height="200"></canvas></div>
      <div class="chart-wrap"><canvas id="data-chart-4" height="200"></canvas></div>
    </div>
  </div>
  <div class="flex justify-between">
    <h2 class="text-xl font-bold">{{ 'heading_sampling_distribution_difference_of_means' | translate }}</h2>
    <input type="checkbox" checked (change)="toggleSection($event,'sectionThree')">
  </div>
  
  <div class="flex gap-3" [ngClass]="sections.sectionThree ? '' : 'hidden'">
    <div class="w-3/12">
      <select [disabled]="!samDisActive" (change)="selectedTest($event)" class="w-full border border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg">
        <option value="null" disabled selected>{{ 'option_type_of_test' | translate }}</option>
        <option value="oneTailRight">{{ 'option_one_tail_right' | translate }}</option>
        <option value="oneTailLeft">{{ 'option_one_tail_left' | translate }}</option>
        <option value="TwoTail">{{ 'option_two_tails' | translate }}</option>
      </select>
      
      <span>{{ 'label_select_differences' | translate }}</span>
      <input [disabled]="!samDisActive" type="number" id="tail-input" value="0" [(ngModel)]="mean_diff" step="any" 
             class="w-full border if-disabled border-gray-300 focus:border-gray-500 focus:outline-none p-2 rounded-lg">
  
      <hr>
  
      <div class="text-sm font-medium mb-1">
        <div class="flex justify-between">
          <span>{{ 'label_original_dataset_difference_of_means' | translate }}</span>
          <span summary="dataMeanDiff">{{ mean_diff }}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_mean_of_sample_differences' | translate }}</span>
          <span summary="mean">{{ simsummary.sampleMeanDiff }}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_standard_deviation' | translate }}</span>
          <span summary="stddev">{{ lastSummary?.stddev }}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_total_samples' | translate }}</span>
          <span summary="total" summaryint>{{ lastSummary?.total }}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_number_of_extreme_differences' | translate }}</span>
          <span summary="chosen" summaryint>{{ lastSummary?.chosen }}</span>
        </div>
        <div class="flex justify-between">
          <span>{{ 'label_proportion_of_extreme_differences' | translate }}</span>
          <span summary="proportion">{{ lastSummary?.proportion }}</span>
        </div>
      </div>
    </div>
    
    <div class="rhs w-9/12">
      <canvas id="diff-chart"></canvas>
    </div>
  </div>
<app-footer></app-footer>