<nav id="navbar">
  <h1 class="logo"><a routerLink="/homepage" class="text-success">SAVIS</a></h1>
  <ul>
    <li><a routerLink="/homepage">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a href="https://www.csus.edu/faculty/d/rdiaz/">Download</a></li>
    <li><a href="https://www.csus.edu/faculty/d/rdiaz/">User Manual</a></li>
  </ul>
</nav>
<br />
<div class="container rounded-xl my-20">
  <app-input
    (xValuesArrayEmitter)="handleInputX($event)"
    (yValuesArrayEmitter)="handleInputY($event)"
  ></app-input>
  <app-chart [xValues]="xValuesArray" [yValues]="yValuesArray"></app-chart>
</div>
