<p>one-proportion-ci works!</p>

<div class="header">
    <div class="title">
        <h3 class="pt-3 font-weight-bold" routerLink="/homepage">SAVIS</h3>
    </div>
</div>

<div class="one-proportion-ci">
    <div class="title2"><h1>One Proportion Confidence Interval Testing</h1></div>
    <div class="title3"><h2>1. Enter Data</h2></div>
    <input type="checkbox" style="float:right" checked/>
    <div id="input-section" class="section">
        <div class="lhs">
            <table>
                <thead>
                    <tr>
                        <td></td>
                            <td class="desc">Data</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="desc">Successes</td>
                        <td><input type="number" id="success" value="0" min="0" step="1"></td>
                    </tr>
                    <tr>
                        <td class="desc">Failures</td>
                        <td><input type="number" id="failure" value="0" min="0" step="1"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <button class="btn" onclick="oneProportion.loadData()">LoadData</button>
            <br>
            <div class="stats">
                <div>
                  <span>Proportion of Successes (p):</span>
                  <span summary="proportion"> NaN </span>
                </div>
            </div>
        </div>
        <div class="rhs">
            <div class="chart-wrap"><canvas id="input-bars"></canvas></div>
        </div>
    </div> 
    <hr>
    <div class="title3"><h2>2. Run Simulations</h2></div>
    <input type="checkbox" style="float:right" checked/>
    <div id="input-section" class="section">
        <div class="lhs">
            <table>
                <tbody>
                    <tr>
                        <td>Sample Size</td>
                        <td><input type="number" id="sample-size" min="1" max="'1000"/></td>
                    </tr>
                    <tr>
                        <!-- <label> -->
                        <td>Number of Simulations</td>
                        <td><input type="number" id="num-simulations" min="1" max="1000"/></td>
                        <!-- </label> -->
                    </tr>
                </tbody>
            </table>
        <!-- <p>
           Sample Size
           <input id="sample-size" type="number" min="1" max="'1000" disabled="need-data"/>
        </p> -->
        <!-- <label>
            Number of Simulations
            <input id="num-simulations" type="number" min="1" max="1000" disabled="need-data"/>
        </label> -->
            <br>
            <button class="btn" disabled="need-data" onclick="oneProportion.runSimulations()">Run Simulations</button>
            <br>
            <div class="stats">
                <div>
                    <span>Proportion of Successes of Most Recent Draw (p): </span>
                    <span summary="sampleProp">NaN</span>
                </div>
            </div>
        </div>
        <div class="rhs">
            <!-- <h3 style="margin-left: 40rem">Most Recent Draw</h3> -->
            <h3>Most Recent Draw</h3>
            <div class="chart-wrap"><canvas id="last-sim-bars"></canvas></div>
        </div>
    </div>
    <hr>
    <div class="title3"><h2>3. Sampling Distribution of Proportions</h2></div>
    <input type="checkbox" style="float:right" checked/>
    <div class="section flex-row" style="display: flex; flex-wrap: wrap;">
        <div class="lhs">
            <table>
                <label for="confidence-level">Confidence Level <span id="confidence-level-display">95</span>%</label>
            </table>
            <input type="range" min="1" max="100" step="1" style="width:50%" id="confidence-level" value="95"/>
            <br>
            <button class="btn" type="button" style="width:80%" id="buildci">Build</button>
            <br>  
            <br>
            <div class="stats">
                <div>
                     <span>Mean of Sample Diff: </span>
                     <span id="mean-sample-diffs" class="stat" summary="mean">NaN</span>
                 </div>
                 <div>
                     <span>Std of Sample Diff: </span>
                     <span id="stddev-sample-diffs" class="stat" summary="stddev">NaN</span>
                 </div>
                 <div>
                     <span>Lower Bound: </span>
                     <span id="lower" class="stat" summary="lower">NaN</span>
                 </div>
                 <div>
                     <span>Upper Bound: </span>
                     <span id="upper" class="stat" summary="upper">NaN</span>
                 </div>
                 <div>
                     <span>Total Samples: </span>
                     <span id="total-samples" class="stat" summary="total" summaryint>NaN</span>
                 </div>
             </div>
            <br>      
            <!-- <br>
            <h4>Description Interval</h4>
            <label for="min-tailValue">Set Min</label>
            <input type="number" id="min-tailValue" disabled="need-results" min="0" max="1">
            <label for="min-tailValue">Include Min<input type="checkbox" id="includeMin" disabled="need-results"></label>
            <br>
            <label for="max-tailValue">Set Max</label>
            <input type="number" id="max-tailValue" disabled="need-results" min="0.1" max="1">
            <label for="max-tailValue">Include Max<input type="checkbox" id="includeMax" disabled="need-results"></label>  
            <br>
            <h4>Set Percentage</h4>
            <label for="confidence-level">
                Percentage
                <input type="number" id="confidence-level" step="0.01" min="0" max="100" disabled="need-results">
            </label> 
            <br> -->
        </div>
        <div class="rhs">
            <div class="chart-wrap">
                <canvas id="custom-interval"></canvas>
                <br><hr><br>
                <canvas id="ci-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="copyright">
        <p>© 2023 CSUS. All Rights Reserved.</p>
    </div>
  </div>

<script src="{{base}}../lib/Chart.bundle.min.js"></script>
<script src="./oneProportionsEntry.js" type="module"></script>
<script src="./oneProportions.bundle.js"></script>

